body {
  background-color: rgb(233, 233, 233);
  font-family: "Baloo Bhaijaan 2", cursive;
}
.App {
  width: 80%;
  min-height: 85%;
}

.shopItems {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
}

nav {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: black;
  font-weight: 800;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 20%;
  background-color: rgba(207, 140, 140, 0.5);
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card p {
  font-size: larger;
  font-weight: 800;
}

.material-icons-outlined {
  font-family: "Material icons";
}

.cart {
  font-size: x-large;
}
