.App {
  width: 80%;
  min-height: 85%;
  background-color: rgb(121, 219, 82);
}

.shopItems {
  display: flex;
  gap: 2vw;
}
nav {
  background-color: rgb(241, 116, 116);
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: black;
  font-weight: 800;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}

.card {
  width: 20%;
  background-color: rgba(167, 66, 66, 0.5);
  border: 2px solid black;
}
